Daily Tech News.json
{
  "name": "Daily Tech News",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/security/",
        "options": {}
      },
      "id": "45ad3107-8415-4aef-9f48-488d349e6b81",
      "name": "Bleeping Computer",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        384,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/news.xml",
        "options": {}
      },
      "id": "667f2d98-f124-4369-adaa-e0ec275c3a03",
      "name": "CISA GOV",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        384,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index/",
        "options": {}
      },
      "id": "536c49f7-fc45-4a06-b187-10abaa12e689",
      "name": "Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        384,
        816
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/security/feed/",
        "options": {}
      },
      "id": "75f95f11-346c-4848-93b3-eae5989fe37e",
      "name": "Techcrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        384,
        1008
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "7a389f55-3f00-4b5a-8f03-72b6ef243338",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        608,
        624
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "id": "f25dba96-2902-421e-98b2-e2b78fc7cdc0",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        832,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1a6ca407-e101-4c3d-842a-38d71b2e2bcf",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ new Date($json.isoDate || $json.pubDate || $json.date || 0) > new Date(Date.now() - 24*60*60*1000) }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d4ca3559-91e2-4cba-b54d-40daa5948a2f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "maxItems": 25,
        "keep": "="
      },
      "id": "e0088947-6cc5-4695-8b91-f20cd1c76827",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        1280,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "gyamminework@gmail.com",
        "subject": "={{ $json.subject || 'Daily Cyber & Tech Brief' }}",
        "message": "={{ $json.html || '<p>(empty)</p>' }}",
        "options": {}
      },
      "id": "90017426-e506-4102-9804-383b3a733f82",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2304,
        528
      ],
      "webhookId": "086722fa-c6d4-447f-b4d4-def7feeed704",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "n9CnZWVU6gbRfjqL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a security editor writing a crisp daily brief for a VP of Cybersecurity.\nGroup stories into: Vulnerabilities, Breaches/Ransomware, Cloud/SaaS, Policy/Regulation, Startups/Funding, Research.\nFor each story: 1–2 sentence summary + one “Why it matters”.\nExtract CVEs/vendors if present. Be concise, no hype.\nOutput STRICT JSON with keys: subject, html, text. Do not include code fences.\n",
              "role": "system"
            },
            {
              "content": "=Today's items (JSON array):\n{{ JSON.stringify($json.stories) }}\n"
            }
          ]
        },
        "options": {
          "maxTokens": 1600
        }
      },
      "id": "e93cb3a3-228a-4afe-8a2c-9ade67d1eef6",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1728,
        528
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "hkvDzNrpkDxFp4Up",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// code by ca7ai\nconst cutoff = Date.now() - 24*60*60*1000; // optional if you want another guard\n\nconst stories = $input.all().map(i => {\n  const j = i.json;\n  const link = j.link || '';\n  let host = 'unknown';\n  try { host = link ? new URL(link).hostname : 'unknown'; } catch(e) {}\n\n  return {\n    source: j.source || j.feed || host,\n    title: j.title || '',\n    link,\n    published: j.isoDate || j.pubDate || j.date || null,\n    snippet: j.contentSnippet || j.description || '',\n  };\n});\n\n// output ONE item that contains all stories\nreturn [{ json: { stories } }];\n"
      },
      "id": "57c7251c-6071-480c-b334-8430f48e63ff",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        1504,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// code by ca7ai\nlet c = $json?.message?.content ?? '';\nif (typeof c !== 'string') c = String(c || '');\n\n// remove ```json ... ``` fences if present\nc = c.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/,'');\nlet out;\ntry {\n  out = JSON.parse(c);\n} catch (e) {\n  // fallback: send raw content so you still get an email\n  out = {\n    subject: 'Daily Cyber & Tech Brief (parse issue)',\n    html: `<pre>${c.replace(/[<>&]/g, s => ({'<':'&lt;','>':'&gt;','&':'&amp;'}[s]))}</pre>`,\n    text: c\n  };\n}\nreturn [{ json: out }];\n"
      },
      "id": "059da84b-51ff-4536-b51a-a2b8936b4df8",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "876fe1bc-5070-46d3-8a46-60c919e07dd6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -112,
        800
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// code by ca7ai\nif (items.length === 0) {\n  return [{\n    json: {\n      empty: true,\n      subject: `Daily Cyber & Tech Brief — No major updates`,\n      html: `<p>No notable headlines in the last 24h from your sources.</p>`,\n      text: `No notable headlines in the last 24h.`\n    }\n  }];\n}\nreturn items;\n"
      },
      "id": "f47577dd-d5b6-466e-af97-6f8e90fcb1f4",
      "name": "No New Items",
      "type": "n8n-nodes-base.code",
      "position": [
        1280,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "3589c7b5-7233-4594-ae52-f052f9f18a2c",
      "name": "hacker news",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        384,
        624
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        608
      ],
      "id": "67229660-e900-4e88-8001-07086de51c3c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA GOV": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Techcrunch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Ars Technica": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Bleeping Computer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hacker news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Bleeping Computer",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA GOV",
            "type": "main",
            "index": 0
          },
          {
            "node": "hacker news",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Techcrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad6315c6-d2ba-47d8-965a-3bb179b4ccec",
  "meta": {
    "templateId": "7428",
    "templateCredsSetupCompleted": true,
    "instanceId": "06393acdf3868f2e6b113fe3ce72870647477730f55179778ddabd8cb7d0a6e2"
  },
  "id": "UDSqOZOa742wFcsu",
  "tags": []
}