Daily Tech News.json
{
  "name": "Daily Tech News",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/security/",
        "options": {}
      },
      "name": "Bleeping Computer",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [384, 240],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/news.xml",
        "options": {}
      },
      "name": "CISA GOV",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [384, 432],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/security",
        "options": {}
      },
      "name": "Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [384, 816],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/security/feed/",
        "options": {}
      },
      "name": "TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [384, 1008],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "name": "The Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [384, 624],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [608, 624],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [832, 624],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": { "type": "boolean", "operation": "true", "singleValue": true },
              "leftValue": "={{ new Date($json.isoDate || $json.pubDate || $json.date || 0) > new Date(Date.now() - 24*60*60*1000) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter Last 24h",
      "type": "n8n-nodes-base.if",
      "position": [1056, 624],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "maxItems": 25,
        "keep": "="
      },
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [1280, 528],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Group stories into a single array\nconst stories = $input.all().map(i => {\n  const j = i.json;\n  const link = j.link || '';\n  let host = 'unknown';\n  try { host = link ? new URL(link).hostname : 'unknown'; } catch(e) {}\n\n  return {\n    source: j.source || host,\n    title: j.title || '',\n    link,\n    published: j.isoDate || j.pubDate || j.date || null,\n    snippet: j.contentSnippet || j.description || ''\n  };\n});\nreturn [{ json: { stories } }];"
      },
      "name": "Combine Stories",
      "type": "n8n-nodes-base.code",
      "position": [1504, 528],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a security editor writing a crisp daily brief for a VP of Cybersecurity. Group stories into: Vulnerabilities, Breaches/Ransomware, Cloud/SaaS, Policy/Regulation, Startups/Funding, Research. For each story: 1–2 sentence summary + one 'Why it matters'. Extract CVEs/vendors if present. Be concise, no hype. Output STRICT JSON with keys: subject, html, text.",
              "role": "system"
            },
            {
              "content": "=Today's items (JSON array): {{ JSON.stringify($json.stories) }}"
            }
          ]
        },
        "options": { "maxTokens": 1600 }
      },
      "name": "Summarize with GPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1728, 528],
      "typeVersion": 1.8,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "let c = $json?.message?.content ?? '';\nif (typeof c !== 'string') c = String(c || '');\nc = c.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/,'');\nlet out;\ntry {\n  out = JSON.parse(c);\n} catch (e) {\n  out = { subject: 'Daily Cyber & Tech Brief (parse issue)', html: `<pre>${c}</pre>`, text: c };\n}\nreturn [{ json: out }];"
      },
      "name": "Parse GPT Output",
      "type": "n8n-nodes-base.code",
      "position": [2080, 528],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "example@email.com",
        "subject": "={{ $json.subject || 'Daily Cyber & Tech Brief' }}",
        "message": "={{ $json.html || '<p>(empty)</p>' }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [2304, 528],
      "typeVersion": 2.1,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "if (items.length === 0) {\n  return [{ json: { empty: true, subject: 'Daily Cyber & Tech Brief — No major updates', html: '<p>No notable headlines in the last 24h from your sources.</p>', text: 'No notable headlines in the last 24h.' } }];\n}\nreturn items;"
      },
      "name": "No New Items",
      "type": "n8n-nodes-base.code",
      "position": [1280, 720],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [32, 608],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 10 }] }
      },
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-112, 800],
      "typeVersion": 1.2,
      "disabled": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Bleeping Computer", "type": "main", "index": 0 },
          { "node": "CISA GOV", "type": "main", "index": 0 },
          { "node": "The Hacker News", "type": "main", "index": 0 },
          { "node": "Ars Technica", "type": "main", "index": 0 },
          { "node": "TechCrunch", "type": "main", "index": 0 }
        ]
      ]
    },
    "Bleeping Computer": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "CISA GOV": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "The Hacker News": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "Ars Technica": { "main": [[{ "node": "Merge", "type": "main", "index": 3 }]] },
    "TechCrunch": { "main": [[{ "node": "Merge", "type": "main", "index": 4 }]] },
    "Merge": { "main": [[{ "node": "Remove Duplicates", "type": "main", "index": 0 }]] },
    "Remove Duplicates": { "main": [[{ "node": "Filter Last 24h", "type": "main", "index": 0 }]] },
    "Filter Last 24h": {
      "main": [
        [{ "node": "Limit", "type": "main", "index": 0 }],
        [{ "node": "No New Items", "type": "main", "index": 0 }]
      ]
    },
    "Limit": { "main": [[{ "node": "Combine Stories", "type": "main", "index": 0 }]] },
    "Combine Stories": { "main": [[{ "node": "Summarize with GPT", "type": "main", "index": 0 }]] },
    "Summarize with GPT": { "main": [[{ "node": "Parse GPT Output", "type": "main", "index": 0 }]] },
    "Parse GPT Output": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "public-github-safe"
}
